<h1><a href="/articles/">{{currentDBName}}</a></h1>

{{#if title}}

<div>Title: {{title}}</div>
<div>Author: {{author}}</div>
<p>
  {{body}} 
</p>

<form action='/articles/{{url_title}}/edit' method='get'>
  <button type='submit'>Edit this article</button>
</form>
<form action="/articles/{{url_title}}" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete article">
</form>

{{else}}
<h3>This article does not exist</h3>
{{/if}}

{{>indexButtons}}