<h2>Edit an existing product entry</h2>
<form action="/products/{{id}}" method="POST" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="PUT">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Product Name" value={{#if name}}{{name}}{{else}} ""{{/if}}>
    <br><br>
  <label for="price">Price:</label>
  <input type="text" id="price" name="price" placeholder="Product Price" value={{#if price}}{{price}}{{else}} ""{{/if}}>
    <br><br>
  <label for="inventory">Inventory:</label>
  <input type="text" id="inventory" name="inventory" placeholder="Current Product Inventory" value={{#if inventory}}{{inventory}}{{else}}
    ""{{/if}}>
    <br><br>
  <input type="submit" value="SUBMIT">
</form>
    <br><br>
<form action="/products/{{id}}" method="POST" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE PRODUCT">
</form>
{{#if reason}}
<p>{{reason}}</p>
{{/if}}