<h1>{{currentDBName}}</h1>
<ol>
{{#if catalog}}
{{#each catalog}}
  <li>

    <div>Product Name:
      <a href="/products/{{id}}">{{name}}</a>
    </div>

  </li>
{{/each}} {{else}}
  <h3>There are currently no products.</h3>
  {{/if}}
</ol>
<form action='/products/new' method='get'>
  <button type='submit'>Add a new product</button>
</form>
{{#each errors}}
{{#if reason}}
<h3>{{reason}}</h3>

{{/if}} {{/each}}

{{>indexButtons}}