<h2>Create a new product entry</h2>
<form action="/products" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Product Name" value={{#if name}}{{name}}{{else}}""{{/if}}>

  <label for="price">Price:</label>
  <input type="text" id = "price" name="price" placeholder="Product Price" value={{#if price}}{{price}}{{else}}""{{/if}}>

  <label for="inventory">Inventory:</label>
  <input type="text" id="inventory" name="inventory" placeholder="Current Product Inventory" value={{#if inventory}}{{inventory}}{{else}}""{{/if}}>
  <input type="submit" value="OK">
</form>
{{#if reason}}
<p>{{reason}}</p>
{{/if}}

{{#each typeReasons}}
  <h4 style='color:red'>Error: {{typeReason}}</h4>
{{/each}}