<h1>{{currentDBName}}</h1>

{{#if name}}

<div>Product Name: {{name}}</div>
<div>Price: ${{price}}</div>
<div>Inventory: {{inventory}}</div>

<form action='/products/{{id}}/edit' method='get'>
  <button type='submit'>Edit this Product</button>
</form>
<form action="/products/{{id}}" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Product">
</form>
<form action="/products/" method="GET">
  <input type="submit" value="Product Index">
</form>
{{else}}
<h3>This product does not exist</h3>
{{/if}}